<div class="form-container">
    <form hx-post="/login" hx-swap="outerHTML" hx-target="closest .form-container">
        <div class="username">
            <label for="username">Username</label>
            <input id="username" name="username" type="text">
        </div>
        <div class="password">
            <label for="password">Password</label>
            <input id="password" name="password" type="password">
        </div>
        <p>If user does not exist, you will be <b>registered</b> instead.</p>
        <input type="submit" value="Login">
    </form>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
</div>