<!doctype html>
<head>
    <title>Kanban - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>

</head>

<body>
        <tt>
            <div class="navigation-container">
                <nav>
                    <a href="#">Home</a>
                    <a href="#">My Boards</a>
                    <a href="#">Login</a>
                </nav>
            </div>
            
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </tt>
</body>