{% extends "layouts/layout.html" %}
{% block title %}Home{% endblock %}
{% set css_file = 'index.css' %}
{% block content %}

    <div class="home">
        <h1>Home</h1>
        <span>Here are some public boards:</span>

        <div class="board-list">
            {% if not boards %}
                <p>No public boards...</p>
            {% endif %}
            {% for board in boards %}
                <a href="/boards/{{ board.id }}">
                    <div class="board">
                        <span class="title">{{ board.name }}</span>
                        <span class="details">{{ board.author }}</span>
                    </div>
                </a>
            {% endfor %}
        </div>


    </div>


{% endblock %}