<div class="card task" hx-vals='{"task_id": {{ task_id }}}'>
    <div class="content" {% if modify %}hx-get="/boards/{{ board_id }}/{{ list_id }}/edit" hx-trigger="click" hx-target="closest .task"
         hx-swap="outerHTML"{% endif %}>
        <p class="text">{{ task.content }}</p>
    </div>


    {% if modify %}
        <div class="control-wrapper">
            <div class="control-icon">
                ≡
            </div>
            <div class="control-panel">
                <div
                        class="control-item"
                        title="Delete task"
                        hx-post="/boards/{{ board_id }}/{{ list_id }}/delete"
                        hx-target="closest .list"
                        hx-swap="outerHTML">
                    x
                </div>
                <div
                        class="control-item"
                        title="Move left"
                        hx-post="/boards/{{ board_id }}/{{ list_id }}/move"
                        hx-target="closest .board"
                        hx-vals='{"action": "left"}'
                        hx-swap="outerHTML">
                    <
                </div>
                <div
                        class="control-item"
                        title="Move right"
                        hx-post="/boards/{{ board_id }}/{{ list_id }}/move"
                        hx-target="closest .board"
                        hx-vals='{"action": "right"}'
                        hx-swap="outerHTML">
                    >
                </div>
            </div>
        </div>
    {% endif %}
</div>
